<div class="main-container">

  <div class="image-row">

    <img class="avatar-image" src="/otabekkhusinov.jpg" alt="profile pic">

  </div>

  <div class="name-row">

    Otabek Khusinov

  </div>

  <div class="social-icons-row">

    <a href="https://github.com/okhusinov" target="_blank">

      <i class="fa-brands fa-github"></i>

    </a>

    <a href="https://www.linkedin.com/in/okhusinov/" target="_blank">

      <i class="fa-brands fa-linkedin"></i>

    </a>

    <a href="https://www.instagram.com/o.khusinov/" target="_blank">

      <i class="fa-brands fa-instagram"></i>

    </a>

    <a href="https://twitter.com/otabekkhusinov" target="_blank">

      <i class="fa-brands fa-x-twitter"></i>

    </a>

  </div>

  <div class="links-row">

    <% @list_of_items.each do |the_item| %>

      <div class="item">

        <a href="<%= the_item.link_url %>">
          
          <img class="thumbnail" src="<%= the_item.thumbnail_url %>" alt="<%= the_item.link_description %>" href="<%= the_item.link_url %>">

        </a>

        <a class="link-text" href="<%= the_item.link_url %>" target="_blank">

          <%= the_item.link_description %>

        </a>

      </div>

    <% end %>
  
  </div>

</div>
